<div class="container" ng-init="getAluno(id);">
    <div class="panel panel-primary">
        <div class="panel-heading">
            Cadastrar Aluna
        </div>
        <div class="panel-body">
            <div class="alert alert-danger" ng-show="error.valid">
                <strong>Ops!</strong> {{error.message}} <br/><br/>
            </div>
            <form>
                <input type="hidden" ng-model="aluno.id" />
                <div class="form-group">
                    <label for="aluno-nome"> Nome</label>
                    <input type="text" class="form-control" id="aluno-nome" placeholder="Digite o nome do ALuno" ng-model="aluno.name"/>
                </div>
                <div class="form-group">
                    <label for="aluno-email">Email</label>
                    <input type="text" class="form-control" id="aluno-email" type="email" ng-model="aluno.email"/>
                </div>

                <div class="form-group">
                    <label for="aluno-turma">Turma</label>
                    <select id="aluno-turma" class="form-control" required ng-init="getTurmas()" ng-model="aluno.turma_id">
                        <option ng-repeat="turma in turmas" value="{{turma.id}}">{{turma.description}}</option>
                    </select>
                </div>

                <div class="form-inline">
                    <div class="form-group">
                        <label for="aluno-birth_date">Data de anivers&aacute;rio</label>
                        <input type="date" id="aluno-birth_date" ng-model="aluno.birth_date" class="form-control"/>
                    </div>
                    <div class="form-group">
                        <label for="aluno-registration-date">Data de Matr&iacute;cula</label>
                        <input type="date" id="aluno-registration-date" ng-model="aluno.registration_date" class="form-control"/>
                    </div>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary" ng-click="salvar(aluno)">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>